/* =========================
   Footer
========================= */

footer {
  background-color: #241f1b;
  color: #ffffff;
  padding: 24px;
  text-align: center;
  margin-top: 40px;
}

footer p {
  margin: 0;
  font-size: 13px;
  color: #d6d6d6;
}
